.panel-lateral {
    height: 100%;
    width: fit-content;
    box-sizing: border-box;
    padding: 2em;
    background-color: var(--color-fondo);
}

.panel-lateral-usuario {
    text-align: center;
    cursor: pointer;
}

.panel-lateral-contenidos {
    text-align: center;
    color: var(--color-claro);
    cursor: pointer;
}