.tabla-objetos{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 1.5em;
    font-family: 'Oswald';
    color: white;
}
.encabezado{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: solid 2px var(--color-alterno);
    background-color: var(--color-fondo);
    flex: 1 1 0;
    color: white;
}

.fila {
    display: flex;
    color: black;
    height: 3em;
}

.fila-datos {
    display: flex;
    color: black;
}
.columna {
    display: flex;
    align-items: center;
    flex: 1 1 0;
    box-sizing: border-box;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: sans-serif;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.columna:hover {
    cursor: pointer;
}

.contenedor-temas {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
}

.contenedor-temas span {
    background-color: #FFD966;
    border-radius: 0.5em;
    padding: 0.5em;
}

.invisibles{
    opacity: 0;
}

.boton{
    margin: auto;
    background: none;
    border: 0;
    padding: .5em;
    width: 25px ;
}

.iconoE{
    /* background-color: #5B8E7D; */
    height: 25px;
    margin-right: .2em;
    margin-left: .2em;
    border-radius: 10px;
    filter: invert(50%) sepia(31%) saturate(395%) hue-rotate(109deg) brightness(95%) contrast(85%);
}

.iconoE:hover {
    cursor: pointer;
}

.iconoD{
    /* background-color: #BC4B51; */
    height: 25px;
    border-radius: 10px;
    filter: invert(23%) sepia(47%) saturate(3138%) hue-rotate(324deg) brightness(95%) contrast(86%);
}

.iconoD:hover {
    cursor: pointer;
}