.cuerpo-agregar-objeto{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1em;
    gap: 1em;
    overflow: hidden;
}

.contenedor-modulos-datos{
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

.titulo-agregar-objeto{
    color: var(--color-fondo);
    font-family: 'Oswald';
    margin: 0;
}

.contenedor-columna {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contenedor-columna section {
    display: flex;
    flex-direction: column;
}

.contenedor-columna section p {
    margin: 0;
    font-family: 'Oswald';
    font-size: 1em;
    font-weight: 600;
    color: var(--color-base);
    text-align: justify;
}

.contenedor-temas {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
}

.span-tema {
    background-color: var(--color-alterno3);
    border-radius: 0.5em;
    padding: 0.5em;
}

.contenedor-temas-objetos {
    width: 100%;
    flex: 1 1 0;
    gap: 1em;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.titulos-objetos{
    border-bottom: 2.5px solid var(--color-alterno2);
    font-family: 'Oswald';
    font-weight: 400;
    width: 90%;
    margin: 0;
}

.etiqueta-nuevo-objeto{
    font-family: 'Oswald';
}

.input-aprendizaje{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    border: 1px solid black;
    border-radius: 5px;
    resize: none;
    width: 89%;
    transition: 0.3s;
    font-size: 1em;
}

.chips-objetos{
    width: 90%;
}

.contenedor-titulo-boton{
    display: flex;
    border-bottom: 3px solid var(--color-alterno2);
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 0.25em;
}

.contenedor-materiales-objetos {
    width: 100%;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.boton-agregar-material{
    font-family: 'Oswald';
    font-weight: 400;
    border-radius: 5px;
    background-color: var(--color-alterno2);
    border: 0;
    cursor: pointer;
    margin: 0 auto 0 auto;
    padding: 0.5em;
    width: fit-content;
}

.contenedor-boton-subir{
    display: flex;
    gap: 1em;
    flex-direction: row-reverse;
}

.boton-cancelar{
    background-color: #BC4B51;
    border: 0px;
    padding: 0.5em;
    color: white;
    border-radius: 10px;
    font-family: 'Oswald';
    font-size: 1.5em;
    cursor: pointer;
}

.boton-subir{
    background-color: #5DBB63;
    border: 0px;
    padding: 0.5em;
    color: white;
    border-radius: 10px;
    font-family: 'Oswald';
    font-size: 1.5em;
    cursor: pointer;
}