.buscador-objetos-contenedor {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding-bottom: 1em;
    border-bottom: 2px solid #F4AE3F;
}

.buscador-objetos-lupa {
    height: 2em;
}

.boton-agregar{
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
    margin-left: auto;
    border-radius: 0.5em;
    background-color: #F4AE3F;
    font-family: 'Oswald';
    font-weight: 600;
    font-size: 1.25em;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .texto-agregar-boton{
        margin: 0;
        padding: 0;
    }
}
@media screen and (max-width: 768px) {
    .texto-agregar-boton{
        margin: 0;
        padding: 0;
    }
}

@keyframes flotar-desde-abajo {
    0% { transform: translateY(20%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

.animacion-flotar-abajo{
    animation: flotar-desde-abajo ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

